<app-inner-header [title]="title" [paragraph]="subTitle" ></app-inner-header>
<div class="container mt-5">
<div *ngIf="todos$; else noData" class="row">
    <div class="card m-2 p-4 col-md-5 col-12" *ngFor="let todo of todos$ | async">
        <h5> todo : {{todo.title}}</h5>
        <p>Completed ? {{todo.completed}}</p>    
    </div>
</div>


    <!-- Pagination -->
    <ul class="pagination d-flex justify-content-center">
        <li class="page-item" (click)="onPageChange(currentPage - 1)">
          <a class="page-link" aria-label="Previous">
            <span aria-hidden="true">&lsaquo;</span>
          </a>
        </li>
     
        <li class="page-item" (click)="onPageChange(currentPage + 1)">
          <a class="page-link" aria-label="Next">
            <span aria-hidden="true">&rsaquo;</span>
          </a>
        </li>
      </ul>

</div>

<ng-template #noData>
    <app-no-data-available></app-no-data-available>
</ng-template>
  
  