<app-inner-header [title]="title" [paragraph]="subTitle"></app-inner-header>

<div class="container">
  <div *ngIf="photos.length > 0; else noData">
    <div class="row">
      <ng-container *ngFor="let photo of photos; let i = index">
        <div class="col-md-3">
          <app-photo [photo]="photo"></app-photo>
        </div>
      </ng-container>
    </div>

    <!-- Pagination -->
    <ul class="pagination d-flex justify-content-center">
      <li class="page-item" (click)="onPageChange(currentPage - 1)">
        <a class="page-link" aria-label="Previous">
          <span aria-hidden="true">&lsaquo;</span>
        </a>
      </li>
   
      <li class="page-item" (click)="onPageChange(currentPage + 1)">
        <a class="page-link" aria-label="Next">
          <span aria-hidden="true">&rsaquo;</span>
        </a>
      </li>
    </ul>
  </div>
</div>
<ng-template #noData>
  <app-no-data-available></app-no-data-available>
</ng-template>
