.photo-card {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    min-height: 400px;
    img {
        width: 200px;
    }

    &:hover {
      transform: scale(1.02);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  
    h2 {
      color: #333;
      font-size: 1.8rem;
      margin-bottom: 10px;
    }

    hr {
      margin: 15px 0;
      border: 0.5px solid #e0e0e0;
    }
  }
  