<div class="jumbotron container mt-5">
  <h1 class="display-2">Hello, world!</h1>
  <p class="lead">
    This is a simple hero unit, a simple jumbotron-style component for calling
    extra attention to featured content or information.
  </p>
  <hr class="my-4" />
  <p>
    It uses utility classes for typography and spacing to space content out
    within the larger container.
  </p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>

<div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <div class="section">
          <h2>Section 1</h2>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur, deserunt! Porro omnis, sapiente molestiae reiciendis accusantium aspernatur quia voluptatem ea laborum neque, id, odio a delectus alias numquam repudiandae labore.</p>
          <a class="btn btn-primary">Explore Section 1</a>
        </div>
      </div>

      <div class="col-md-6">
        <div class="section">
          <h2>Users</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias unde sit rem explicabo debitis dolorem sequi, necessitatibus facere neque. Excepturi aut quia praesentium vero! Vel repellat odio aut tenetur beatae?</p>
          <a [routerLink]="['/users']" class="btn btn-primary">Discover Users</a>
        </div>
      </div>
    </div>
  </div>