<div class="jumbotron container mt-5">
  <h1 class="display-4">Hello, world!</h1>
  <p>
    Reactive Angular web app practicing RxJS and HTTP API integration. Emphasis on functionality over styling to focus on learning angular and RxJS.
  </p>
</div>

<div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <div class="section">
          <h2>Posts</h2>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur, deserunt! Porro omnis, sapiente molestiae reiciendis accusantium aspernatur quia voluptatem ea laborum neque, id, odio a delectus alias numquam repudiandae labore.</p>
          <a [routerLink]="'/posts'" class="btn btn-primary">Explore Posts</a>
        </div>
      </div>

      <div class="col-md-6">
        <div class="section">
          <h2>Users</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias unde sit rem explicabo debitis dolorem sequi, necessitatibus facere neque. Excepturi aut quia praesentium vero! Vel repellat odio aut tenetur beatae?</p>
          <a [routerLink]="['/users']" class="btn btn-primary">Discover Users</a>
        </div>
      </div>
    </div>
  </div>