<app-inner-header [title]="'Hello, world!'" [paragraph]="'A minimalist Angular web app focused on practicing RxJS and HTTP API integration, with minimal emphasis on styling. '"></app-inner-header>

<div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <div class="section">
          <h2>Posts</h2>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur, deserunt! Porro omnis, sapiente molestiae reiciendis accusantium aspernatur quia voluptatem ea laborum neque, id, odio a delectus alias numquam repudiandae labore.</p>
          <a [routerLink]="'/posts'" class="btn btn-primary">Explore Posts</a>
        </div>
      </div>

      <div class="col-md-6">
        <div class="section">
          <h2>Users</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias unde sit rem explicabo debitis dolorem sequi, necessitatibus facere neque. Excepturi aut quia praesentium vero! Vel repellat odio aut tenetur beatae?</p>
          <a [routerLink]="['/users']" class="btn btn-primary">Discover Users</a>
        </div>
      </div>
    </div>

    <div class="row">
        <div class="col-md-6">
          <div class="section">
            <h2>Photos</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur, deserunt! Porro omnis, sapiente molestiae reiciendis accusantium aspernatur quia voluptatem ea laborum neque, id, odio a delectus alias numquam repudiandae labore.</p>
            <a [routerLink]="'/photos'" class="btn btn-primary">Explore Photos</a>
          </div>
        </div>
  
        <div class="col-md-6">
          <div class="section">
            <h2>Todos</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias unde sit rem explicabo debitis dolorem sequi, necessitatibus facere neque. Excepturi aut quia praesentium vero! Vel repellat odio aut tenetur beatae?</p>
            <a [routerLink]="['/todos']" class="btn btn-primary">Discover Todos</a>
          </div>
        </div>
      </div>

  </div>